{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>


    <header class="header">


        <div class="header-bg">
            <a href="/"><img class="logo" src="{% static "css/img/logo.png" %}" alt="логатип фаллаут"></a>
        </div>

        <div class="header-content">
            <div class="header-content-inner">
                <h1  class="header-content-font">CONSENT BREAKS VICTORY! <br> JOIN THE BROTHERHOOD OF STEEL</h1>
            </div>
            <div  class="header-content-btn-container" >
                <div class="header-content-btn"> <a class="header-content-btn-font" href="https://youtu.be/RIPaBj4Jhvo?si=hvwgAit1BeQAFZHB&t=1">ENTER</a></div>
                <div class="header-content-btn"> <a class="header-content-btn-font" href="https://youtu.be/SPddvDupQCM?si=Sqb_8IEGjNcQwKE7&t=29">REJECT</a></div>


            </div>
            <div class="header-content-imgs">

                <img src="{% static "css/img/steel-logo.png" %}" alt="Image 1">
                <img src="{% static "css/img/Institute-logo.png" %}" alt="Image 2">
                <img src="{% static "css/img/Atom-logo.png" %}" alt="Image 3">





            </div>
            <div class="header-container">
                <div class="header-content-dropdown">
                    <button>GAMES</button>
                    <div class="dropdown-content">
                    <a href="#">Pip Boy Run</a>
                    <a href="#">Atomic Run</a>

                     </div>
                </div>
                <div class="header-content-dropdown">
                    <button>SERIES</button>
                    <div class="dropdown-content">
                        <a href="#">fallout 2</a>
                        <a href="#">fallout 3</a>
                        <a href="#">fallout 4</a>
                    </div>
                </div>
                <div class="header-content-dropdown">
                    <button>COMMUNITY</button>
                    <div class="dropdown-content">
                        <a href="#">PipTube</a>

                    </div>
                </div>
                <div class="header-content-dropdown">
                    <button>OTHERS</button>
                    <div class="dropdown-content">
                        <a href="#">NEW VEGAS</a>

                    </div>
                </div>
                 <div class="header-content-dropdown">
                    <button>      BUY</button>

                </div>

            </div>


        </div>









    </header>
    <div class="news-body">
        <div class="news-container">
        <div class="news-banner">
            <div class="text-container">
                <span class="news-text">/// .news.module_highlight </span>

            </div>
            <img src="{% static 'css/img/news-logo.png' %}" alt="fallout-news-logo">
            <span class="news-caption">Get ready to get your groove on - Los Angeles where drems comes true!!!</span>
        </div>
        <div class="news">
            <div class="video-container">
                <span class="news-text">NEWS_</span>
                <video src="{% static 'css/video/crunchy.mp4' %}" width="348px" height="196px" autoplay loop muted></video>
                <span class="news-caption">the Brotherhood of Steel lost his power armor</span>
            </div>
            <div class="video-container">
                <span class="news-text">NEWS_</span>
                <video src="{% static 'css/video/fall_vid1.mp4' %}" width="348px" height="196px" autoplay loop muted></video>
                <span class="news-caption">real sigma failed with conviction</span>
            </div>
            <div class="video-container">
                <span class="news-text">NEWS_</span>
                <video src="{% static 'css/video/fall_vid2.mp4' %}" width="348px" height="196px" autoplay loop muted></video>
                <span class="news-caption">stalker trolled local resident</span>
            </div>
            <div class="video-container">
                <span class="news-text">NEWS_</span>
                <video src="{% static 'css/video/fall_vid3.mp4' %}" width="348px" height="196px" autoplay loop muted></video>
                <span class="news-caption">why you need to buy power warfare 2125</span>
            </div>
        </div>
    </div>
        <div class="button-container">
        <a href="https://youtu.be/bwG1Ne2ZI4g?si=XHiWwDcienXWK_Av" class="header-content-btn-yellow">More News</a>
    </div>

    </div>
    <div class="store-body">
        <div class="text-header">
            <h2>Welcome to the dark future</h2>

        </div>
        <div class="header-text-body">
            <p>Here are the hottest products from the capital wasteland. Here are listed products such as power armor, portable atomic computer pipboy, nukacola and the best book for embroidery s.p.e.c.i.a.l</p>
        </div>
        <div class="img-border">
        <img src="{% static 'css/img/powerarmor.jpg' %}" alt="Power Armor">
        <img src="{% static 'css/img/pipboy.jpg' %}" alt="Pip Boy">
        <img src="{% static 'css/img/nucacola.jpg' %}" alt="Nuca Cola">
        <img src="{% static 'css/img/spesial.jpg' %}" alt="Spesial">
    </div>
        <div class="buy-button">
            <p>BUY NOW</p>
        </div>

    </div>
    <div class="footer">
        <img src="{% static "css/img/Footer.png" %}" alt="Footer">
    </div>









</body>
</html>
